<div class="admin-console">
  <div class="admin-links">
    <ul>
      <li> <%= link_to "Logout", logout_url %> </li>
      <li> <%= link_to "upload category keywords list", new_category_url %> </li>
      <li> <%= link_to "Load Categories list", load_categories_url %> </li>
      <li> <%= link_to "Load keywords list", load_category_keywords_url %> </li>
  </div>
</div>
